@font-face {
  font-family: "Addison";
  src: url("./AddisonCircusFlat.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Addison", "Times New Roman", Times, serif;
}

:root {
  --black: #000000;
  --gray: #e5e4e2;
  --darkgray: #838996;
}

.hero-tack {
  /* border-style: solid; */
}

#hero-box {
  /* max-height: 120px */
}

#title-heading {
  text-align: left;
  /* margin-top: auto;
  margin-bottom: auto; */
}

#social-spot {
  text-align: right;
}

#hbody {
  padding: 3rem 3rem;
}

@media only screen and (max-width: 769px) {

#title-heading {
  text-align: center;
}

#social-spot {
  text-align: center;
  /* display: none; */
}

#hbody {
  padding: 3rem 1.5rem;
}

}