@font-face {
  font-family: "Addison";
  src: url("./AddisonCircusFlat.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Times New Roman", Times, serif;
}

:root {
  --black: #000000;
  --gray: #e5e4e2;
  --darkgray: #838996;
}

#title-heading {
  text-align: left;
  font-family: "Addison", "Times New Roman", Times, serif;
  padding-top: 18px;
}

#social-spot {
  text-align: right;
  padding-bottom: 10px;
}

#hbody {
  padding: 3rem 3rem;
}

#linktree {
  display: none;
}

#footer-text {
  font-family: "Addison", "Times New Roman", Times, serif;
}


@media only screen and (max-width: 769px) {
  #title-heading {
    text-align: center;
    padding-bottom: 0%;
  }

  #social-spot {
    text-align: center;
    display: none;
  }

  #linktree {
    display: block;
    padding-top: 0;
    padding-bottom: 6%;
  }

  .bottle {
    width: 50%;
    /* padding: 1%; */
    margin: 1% auto;
    display: block;
  }
}
